@charset "utf-8";

/*
   ITC-245 Final Project
   
   Author:   Haley Bishop & Katherine Couturier
   Date:     10/13/25
   
   Filename: rm_reset.css
   
   ITC245 Final Project Web Page Reset Style Sheet

*/


/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}


