@charset "utf-8";

/*
   ITC-245 Final Project
   
   Author:   Haley Bishop & Katherine Couturier
   Date:     10/13/25
   
   Filename: rm_styles1.css
   
   This file contains the typographical and layout styles used in 
   the ITC245 Final Project Web page.

*/


/* HTML and Body Styles */

html {
		background-image: url('background.jpg');
	background-repeat: no-repeat;  
	
background-size: cover; /* Scales the image to cover the entire background */
    background-attachment: fixed;
   background-color: black;
   height: 100%;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
}

body {
	
background: black; 
   /*
   box-shadow: rgb(61,117,240) 20px -20px 50px,
               rgb(61,117,240) -20px -20px 50px;
	*/
   margin: 0px auto;
   min-height: 100%;
   min-width: 200px;
   max-width: 1024px;
   width: 100%;
}

body h1 {
   font-size: 2em;
	text-align: center; 
	line-height: 1.0em;
	padding: 3%;
	color: white;
}

body h2 {
   font-size: 1.2em;
	text-align: center; 
	line-height: 1.5em;
	margin-bottom: 0%;
	padding: 0% 2% 1%;
}
	
body article > p{
	margin-bottom: 4%;
	font-size: 1.2em;
	line-height: 1.85em;
	font-style: normal;
	padding: 0% 2% 0%;
}

	

body article p a{
	margin-bottom: 0%;
	display: block;
	float: none;
	font-size: 1.2em;
	line-height: 1.85em;
	font-style: normal;
	padding: 0% 2% 0%;
}

body section section article img {
	max-width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: black;

}

body article img {
	display: block;
	max-width: 90%;
	margin-bottom: 2%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0% auto 5%;
	box-shadow: 0px 0px 15px;
}


/* Body Header Styles */

body header {
   background: black;   
}

body header > img {
   display: block;
   width: 100%;
}

 /* Button Styles */

.button-class {
	background-color: #9900cc;
	/* Green */
	border: none;
	color: white;
	padding: 3%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px;
	cursor: pointer;
	border-radius: 12px;
}

/* Horizonal Navigation Styles */

nav.horizontal {
   background-color: black;
   clear: both;
}

nav.horizontal li {
   font-size: 1.1em;
   line-height: 2em;
   text-transform: uppercase;
   text-align: center;
}

nav.horizontal ul li a {
   display: block;
   padding: 5px;
   color: rgb(61,117,240);
}

/*
nav.horizontal ul li a:hover {
	color: rgb(223,245,255);
	text-shadow: rgb(61,117,240) 0px 0px 5px,
				 rgb(61,117,240) 0px 0px 5px,
				 rgb(61,117,240) 0px 0px 5px,
				 rgb(61,117,240) 0px 0px 10px,
				 rgb(61,117,240) 0px 0px 10px,
				 rgb(61,117,240) 0px 0px 15px,
				 rgb(61,117,240) 0px 0px 15px,
				 rgb(61,117,240) 0px 0px 20px,
				 rgb(61,117,240) 0px 0px 20px,
				 rgb(61,117,240) 0px 0px 25px,
				 rgb(61,117,240) 0px 0px 25px,
				 rgb(61,117,240) 0px 0px 30px,
				 rgb(61,117,240) 0px 0px 30px;
}
*/

nav.reading ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

nav.reading ul li{
	font-size: 1.1em;
	line-height: 2em;
	text-transform: uppercase;
	text-align: center;
	color: rgb(100,146,255);
	padding: 0 2% 2%;
}

/* IFRAME Styles */

div.video {
	position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 56.25%;
    margin-bottom: 2%;
}

div.future {
	position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 56.25%;
	background-color: black;
}

div.video iframe {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}

div.future iframe {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  border: none;
  box-shadow: 0px 0px 15px;
}


/* Section Styles */

section#main {
   background: black;
}

section#main h1 {
	color: white;
   font-size: 2em;
	text-align: center; 
	line-height: 1.0em;
	padding: 3%;
}

/* Article Styles */

section#topics article {
   border: 1px solid black);
   border-radius: 0px;
   margin: 10px;
}

section#topics article:nth-of-type(even) {
    background-color: white;
    padding: 1%;
    border-style: solid;
    border-width: 1px;
}

section#topics article:nth-of-type(odd) {
   background-color: rgb(231, 231, 231);
}

section#topics article h1 {
   font-size: 1.2em;
   margin: 5px;
   text-align: center;
}

section#topics article p {
   margin: 8px;
   font-size: 1em;
}

/* DL STYLES  */

body article dl {
	width: 95%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

body article dl dt {
	display: block;
	margin: 0;
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: 1px solid rgb(168, 168, 168);
}
body article dl dd {
	margin: 0 0 4% 0%;
	text-indent: 0;
	font-size: 1.2em;
	line-height: 1.85em;
}

/* Footer Styles */

footer {
   background-color: black;
   color: white;
   font-size: 1em;
   text-align: center;
   padding: 10px 0px;
}

footer a {
   color: rgb(100,146,255);
}

/* IMAGE MAP STYLES  */
.impacts {
    max-width: 90%;
	height: auto;
    display: block;
}

.hide {
    display: none;
}

#impact_text p {
    margin: auto;
    padding: 30px;
	color: white;
    background: black;
    border-left: 4px solid #333;
    font-size: 2em;
	line-height: 1.25em;
}

